/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   CMD.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hdeniz <Discord:@teomandeniz>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/08 11:18:?? by hdeniz            #+#    #+#             */
/*   Updated: 2024/12/08 ??:??:?? by hdeniz           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.CMD_BLINK
{
	  OPACITY: 0;
	ANIMATION: CMD_BLINK 1S STEP-START INFINITE;
}

@KEYFRAMES CMD_BLINK
{
	66%
	{
		OPACITY: 1;
	}
}
